TheCakeIsALie/Connected Services/ServiceReference1/Game_Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Project_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Project_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Games" nillable="true" type="tns:ArrayOfGame" />
      <xs:element minOccurs="0" name="Invoices" nillable="true" type="tns:ArrayOfInvoice" />
      <xs:element minOccurs="0" name="USer_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Cellphone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_ID" type="xs:int" />
      <xs:element minOccurs="0" name="User_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Game" nillable="true" type="tns:Game" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGame" nillable="true" type="tns:ArrayOfGame" />
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="Discount_Percentage" type="xs:decimal" />
      <xs:element minOccurs="0" name="Game_Date_Added" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Game_Descrp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Game_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Game_Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Game_Num_Comments" type="xs:int" />
      <xs:element minOccurs="0" name="Game_Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Game_Rating" type="xs:int" />
      <xs:element minOccurs="0" name="Game_Status" type="xs:int" />
      <xs:element minOccurs="0" name="Game_Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Game_Trailer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Game_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Game_price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Inv_Games" nillable="true" type="tns:ArrayOfInv_Game" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="User_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:complexType name="ArrayOfInv_Game">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Inv_Game" nillable="true" type="tns:Inv_Game" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInv_Game" nillable="true" type="tns:ArrayOfInv_Game" />
  <xs:complexType name="Inv_Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cost" type="xs:decimal" />
      <xs:element minOccurs="0" name="Game" nillable="true" type="tns:Game" />
      <xs:element minOccurs="0" name="Game_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Inv_Game_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Inv_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Invoice" nillable="true" type="tns:Invoice" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Inv_Game" nillable="true" type="tns:Inv_Game" />
  <xs:complexType name="Invoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date_Logged" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Inv_Games" nillable="true" type="tns:ArrayOfInv_Game" />
      <xs:element minOccurs="0" name="Inv_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Shopping_Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total_Cost" type="xs:decimal" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="User_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Invoice" nillable="true" type="tns:Invoice" />
  <xs:complexType name="ArrayOfInvoice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Invoice" nillable="true" type="tns:Invoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoice" nillable="true" type="tns:ArrayOfInvoice" />
</xs:schema>