TheCakeIsALie/Connected Services/ServiceReference1/Game_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Game_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61274/Game_Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61274/Game_Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61274/Game_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Project_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGame_Service_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IGame_Service_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_Service_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IGame_Service_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_Service_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IGame_Service_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_Service_getAllGames_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllGames" />
  </wsdl:message>
  <wsdl:message name="IGame_Service_getAllGames_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllGamesResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_Service_AddGame_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGame" />
  </wsdl:message>
  <wsdl:message name="IGame_Service_AddGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_Service_EditGame_InputMessage">
    <wsdl:part name="parameters" element="tns:EditGame" />
  </wsdl:message>
  <wsdl:message name="IGame_Service_EditGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_Service_RemoveGame_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveGame" />
  </wsdl:message>
  <wsdl:message name="IGame_Service_RemoveGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_Service_getUser_InputMessage">
    <wsdl:part name="parameters" element="tns:getUser" />
  </wsdl:message>
  <wsdl:message name="IGame_Service_getUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_Service_getRecentGame_InputMessage">
    <wsdl:part name="parameters" element="tns:getRecentGame" />
  </wsdl:message>
  <wsdl:message name="IGame_Service_getRecentGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRecentGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_Service_GetOneGame_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneGame" />
  </wsdl:message>
  <wsdl:message name="IGame_Service_GetOneGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneGameResponse" />
  </wsdl:message>
  <wsdl:portType name="IGame_Service">
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame_Service/login" message="tns:IGame_Service_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGame_Service/loginResponse" message="tns:IGame_Service_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame_Service/Register" message="tns:IGame_Service_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGame_Service/RegisterResponse" message="tns:IGame_Service_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame_Service/UpdateUser" message="tns:IGame_Service_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGame_Service/UpdateUserResponse" message="tns:IGame_Service_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllGames">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame_Service/getAllGames" message="tns:IGame_Service_getAllGames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGame_Service/getAllGamesResponse" message="tns:IGame_Service_getAllGames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame_Service/AddGame" message="tns:IGame_Service_AddGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGame_Service/AddGameResponse" message="tns:IGame_Service_AddGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame_Service/EditGame" message="tns:IGame_Service_EditGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGame_Service/EditGameResponse" message="tns:IGame_Service_EditGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame_Service/RemoveGame" message="tns:IGame_Service_RemoveGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGame_Service/RemoveGameResponse" message="tns:IGame_Service_RemoveGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame_Service/getUser" message="tns:IGame_Service_getUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGame_Service/getUserResponse" message="tns:IGame_Service_getUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRecentGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame_Service/getRecentGame" message="tns:IGame_Service_getRecentGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGame_Service/getRecentGameResponse" message="tns:IGame_Service_getRecentGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame_Service/GetOneGame" message="tns:IGame_Service_GetOneGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGame_Service/GetOneGameResponse" message="tns:IGame_Service_GetOneGame_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGame_Service" type="tns:IGame_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IGame_Service/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IGame_Service/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IGame_Service/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllGames">
      <soap:operation soapAction="http://tempuri.org/IGame_Service/getAllGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGame">
      <soap:operation soapAction="http://tempuri.org/IGame_Service/AddGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditGame">
      <soap:operation soapAction="http://tempuri.org/IGame_Service/EditGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGame">
      <soap:operation soapAction="http://tempuri.org/IGame_Service/RemoveGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="http://tempuri.org/IGame_Service/getUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecentGame">
      <soap:operation soapAction="http://tempuri.org/IGame_Service/getRecentGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneGame">
      <soap:operation soapAction="http://tempuri.org/IGame_Service/GetOneGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Game_Service">
    <wsdl:port name="BasicHttpBinding_IGame_Service" binding="tns:BasicHttpBinding_IGame_Service">
      <soap:address location="http://localhost:61274/Game_Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>